/YaourtPlus/nbproject/
/YaourtPlus/build/
/YaourtPlus/dist/
/YaourtPlus/src/conf/persistence.xml
/YaourtPlus/web/files/*
/YaourtPlus2.0/nbproject/
/YaourtPlus2.0/YaourtPlus2.0-war/nbproject/private/
/YaourtPlus2.0/YaourtPlus2.0-ejb/nbproject/private/
/YaourtPlus2.0/YaourtPlus2.0-ejb/src/conf/persistence.xml
/YaourtPlus2.0/YaourtPlus2.0-ejb/build/
/YaourtPlus2.0/YaourtPlus2.0-ejb/dist/
/YaourtPlus2.0/build/
/YaourtPlus2.0/YaourtPlus2.0-war/build/
/YaourtPlus2.0/YaourtPlus2.0-war/dist/
/YaourtPlus2.0/dist/
