/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 déc. 2015, 15:42:36
    Author     : Olivier
*/

body {
  padding-top: 10px;
}
[class*="col-"], footer {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

label{
    width:110px;
    display:block;
    float : left;
}

input{
    display : block;
    float : left;
}

#connectButton{
    display : inline-block;
    margin: auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}